* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #fff;
  outline: none;
  text-align: center;
  background: none repeat scroll 0 0 transparent;
  border-spacing: 0;
  list-style-type: none;
}

.status-bar {
  margin: 1%;
  width: 105%;
  display: flex;
  justify-content: space-between;
}

.header {
  margin: 1%;
  padding: 1%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.mobile-home {
  background-image: url(assets/images/header-illsutration-mobile.svg);
  padding-bottom: 5%;
  width: 102%;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  justify-content: center;
  background-size: 108% 103%;
}

.main-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 2%;
  width: 98%;
  align-items: center;
  justify-content: center;
}

.primary {
  margin: 15% 1% 1% 2%;
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-style: normal;
  padding-top: 5%;
  font-weight: 800;
  font-size: 220%;
  text-align: center;
  color: #172b4d;
  width: 95%;
}

.half-primary {
  color: #36b37e;
}

.supporting-text {
  margin: 5% 1% 1% 2%;
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 430;
  font-size: 130%;
  line-height: 130%;
  text-align: center;
  width: 98%;
  color: #172b4d;
}

.social-media-icons {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: 13%;
}

.social-media-icons li {
  margin: 3% 2%;
}

.action {
  color: #505f79;
}

.icon-chevron-down-larger {
  margin-top: 5%;
}

.text {
  margin-top: 20%;
  margin-bottom: 1%;
}

.primary-text {
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-style: normal;
  color: #172b4d;
  font-weight: 700;
  font-size: 210%;
  text-align: center;
  width: 100%;
  margin-top: 20%;
  margin-bottom: 1%;
}
