* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  text-decoration: none;
  color: #fff;
  overflow: auto;
  font-family: "Inter", Helvetica, Arial, sans-serif;
  background: none repeat scroll 0 0 transparent;
  border-spacing: 0;
}

body {
  margin: 0;
  padding: 0;
  animation: fadeIn 1s;
}

.header {
  padding: 0.75rem 1.5rem;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  background-color: #5c6417;
}

.logo {
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-size: 1.125rem;
  transform: rotate(360deg);
  transition: 1s;  
  color: #344563;
  text-decoration: none;
}

.icon-mobile {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  border: none;
  right: 3rem;
  transform: translateY(-50%);
  z-index: 1;
}

.bar {
  width: 1rem;
  border: 1px solid #0d0d0e;
  transition: 0.6s ease;
}

.mobile-home {
  background-image: url(assets/images/header-illsutration-mobile.svg);
  padding-bottom: 6%;
  margin-top: 12%;
  width: 100%;
  background-position: left right;
  background-repeat: no-repeat;
  justify-content: center;
  background-size: 103% 102%;
}

.main-container {
  text-align: center;
  margin-top: 1%;
  width: 98%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.primary {
  margin: 15% 16% 2% 18%;
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-style: normal;
  padding-top: 5%;
  font-weight: 800;
  font-size: 230%;
  text-align: center;
  color: #172b4d;
}

.half-primary {
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-style: normal;
  padding-top: 1%;
  font-weight: 800;
  font-size: 230%;
  text-align: center;
  color: #36b37e;
}

.supporting-text {
  margin: 5% 5% 2% 5%;
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 450;
  font-size: 120%;
  line-height: 120%;
  text-align: center;
  width: 90%;
  color: #172b4d;
}

.social-media-icons {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: 13%;
}

.social-media-icons li {
  margin: 3% 2%;
}

.action {
  color: #505f79;
}

.icon-chevron-down-larger {
  margin-top: 5%;
}

.recent-works {
  display: grid;
  justify-items: center;
  padding: 0 0 8% 0;
  margin: 0 0%;
  width: 100%;
}

.primary-text {
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-style: normal;
  color: #172b4d;
  font-weight: 800;
  font-size: 220%;
  text-align: center;
  width: 65%;
  margin: 20% 0% 1% 20%;
}

/* My Recent Works */
.text {
  margin-top: 20%;
  margin-bottom: 1%;
  color: #172b4d;
}

.card-work-row1 {
  display: grid;
  justify-items: center;
  width: 100%;
  margin: 8%;
}
.img-indicator {
  color: #344563;
  text-decoration: none;
  display: none;
}

.card {
  display: flex;
  background-color: #fff;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  border-radius: 15px;
  border: 1px solid gainsboro;
  width: 90%;
  padding: 0%;
  margin-top: 10%;
}

.card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  align-items: center;
  width: auto;
  margin-bottom: 2%;
  margin-top: 2%;
}

.project-title {
  font-family: "Inter", Helvetica, Arial, sans-serif;
  color: #3a4a42;
  font-style: normal;
  font-weight: 800;
  font-size: 120%;
  background: #fff;
  padding: 2%;
}

.tags {
  gap: 10px;
  margin: 7% 2% 15% 2%;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.tags li {
  color: #3a4a42;
  background: #ebf0ee;
  font-family: "Inter", sans-serif;
  font-weight: 550;
  font-size: 80%;
  letter-spacing: 0.01em;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 2%;
  white-space: nowrap;
}

.butn {
  transition: all 0.5s;
  cursor: pointer;
  background: #36b37f;
  border: 2px solid transparent;
  border-radius: 6px;
  width: auto;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 100%;
  letter-spacing: 0.001em;
  word-spacing: normal;
  color: white;
  transition-duration: 0.4s;
  padding: 2%;
  margin-bottom: 10%;
}

/* About me */
.about-me {
  margin: 2% 5% 2% 6%;
  width: 94%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-on-about {
  width: 100%;
  box-sizing: border-box;
  background-clip: border-box;
  background-image: url(assets/images/about-illsutration-me.svg), url(assets/images/about-illsutration-mobile.svg);
  background-repeat: no-repeat;
  background-size: 20% 180%, 180% 30%;
  background-position: revert;
  background-origin: content-box;
}

.supporting-text-about {
  margin: 6% 1% 6% 1%;
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 450;
  font-size: 120%;
  line-height: 120%;
  text-align: center;
  width: 95%;
  color: #42526e;
}

.card-works-inactive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  border: 1px solid grey;
  border-radius: 16px;
  width: 90%;
  height: 400px;
  padding: 2%;
  margin-top: 8%;
  background: #ebf0ee;
}

.title {
  font-family: "Inter", Helvetica, Arial, sans-serif;
  margin-top: 12%;
  margin-bottom: 6%;
  font-size: 160%;
  font-weight: 650;
  color: #344563;
  align-self: center;
  font-style: normal;
}

.frame19-tags {
  gap: 10px;
  margin: 7% 0% 15% 0%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.frame19-tags li {
  font-family: "Inter", Helvetica, Arial, sans-serif;
  background: #fff;
  font-weight: 600;
  font-size: 84%;
  letter-spacing: 0.01em;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 2%;
  white-space: nowrap;
  color: #36b37e;
}

.contact-form {
  background-image: url(assets/images/contactbg.svg);
  margin-top: 15%;
  padding: 2% 2% 0 2%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-form input {
  font-family: "Inter", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #172b4d;
  background: #fff;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  margin: 12px 0 12px 0;
  padding: 5px;
  width: 90%;
  text-align: left;
  height: 5vh;
}

textarea {
  font-family: "Inter", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #172b4d;
  background: #fff;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  margin: 12px 0 12px 0;
  padding: 5px;
  width: 90%;
  text-align: left;
  height: 17vh;
}

.details {
  background: #fff;
  border: 1px solid #60c095;
  height: 16vh;
  word-break: break-all;
  font-style: normal;
}

.contact-email {
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  margin-top: 5%;
  margin-bottom: 5%;
}

.contact-btn-submit {
  font-family: "Inter", sans-serif;
  background: #36b37f;
  border: 2px solid transparent;
  border-radius: 6px;
  width: auto;
  font-weight: 500;
  font-size: 100%;
  word-spacing: normal;
  color: #fff;
  padding: 3%;
  margin: 7% auto 15% auto;
}

.social-media-icons-contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  width: 100%;
}

.social-media-icons-contact li {
  margin: 1% 2%;
}

@media (max-width: 768px) {
  .desktop {
    display: none;
  }

  .logo.active {
    visibility: hidden;
    transition: 0s;
  }

  .nav-menu {
    position: fixed;
    flex-direction: column;
    left: -100%;
    gap: 0;
    font-size: 32px;
    width: 100%;
    height: 100%;
    text-align: left;
    mix-blend-mode: normal;
    transition: 0.5s ease-in-out;
  }

  .nav-menu.active {
    left: 0;
    margin-top: 20px;
    background: #3c3a39;
    box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  }

  .nav-menu.active .nav-item {
    font-weight: 700;
    line-height: 44px;
    color: #fff5e1;
    border-bottom: 1px solid #6f6c6b;
    padding: 1rem;
    margin: 0 1.5rem;
  }

  .icon-mobile.active .bar:nth-of-type(1) {
    transform: translateY(6.3px) rotate(45deg);
  }

  .icon-mobile.active .bar:nth-of-type(2) {
    opacity: 0;
  }

  .icon-mobile.active .bar:nth-of-type(3) {
    transform: translateY(-6.3px) rotate(-45deg);
  }
}

@media (min-width: 768px) {
  .mobile-home {
    background-image: none;
    display: flex;
    width: 76%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    letter-spacing: 10%;
  }

  body {
    background-image: url(assets/images/Header-llustration-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0;
    padding: 0;
  }

  .header {
      display: flex;
      flex-direction: row;
      gap: 30px;
      justify-content: center;
      align-items: baseline;
      margin: 0% auto;
     background-color: #008552;
  }

  .header li a {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-size: 85%;
    font-weight: 700;
    cursor: pointer;
    color: #172b4d;
  }

  .logo {
    font-family: "Inter", Helvetica, Arial, sans-serif;
    font-size: 1.125rem;
    transform: rotate(360deg);
    transition: 1s;
  }

  .nav-menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.25rem;
    margin-right: 22rem;
  }

  .nav-item {
    padding: 0.625rem 0.75rem;
  }

  .icon-mobile {
    display: none;
  }

  
  .main-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1%;
    width: 98%;
    align-items: center;
    justify-content: center;
  }
  /* .primary {
    margin: -1% 10% -1% 10%;
    font-weight: 650;
    font-size: 120px;
  }
  .half-primary {
    font-weight: 650;
    font-size: 120px;
  }

  .supporting-text {
    margin: 1% 15% 2% 20%;
    font-weight: 450;
    font-size: 280%;
    line-height: 120%;
    text-align: center;
    width: 60%;
  } */
  
  .social-media-icons li {
    margin: 2% 1%;
  }
  
  .action {
    color: #505f79;
  }
  
  .icon-chevron-down-larger {
    margin-top: 5%;
  }
  .primary-text {
     font-weight: 650;
    font-size: 340%;
    text-align: center;
    width: 180%;
    margin:0%;
    text-decoration: none;
  }
  
  /* My Recent Works */

  .card-work-row1 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    justify-items: center;    
   justify-content: space-evenly;
   justify-items: stretch;
  }

  .card-text {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 5px solid transparent;
    border-radius: 4px;
    align-items: center;
    width: 100%;
    background: #fff;
    color: #fff;
  }

  button:hover {
    background: #36b37f;
    box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  }
  
  button:active {
    transition: all 0.15s;
    background: #008552;
    box-shadow: none;
  }

  /* About me  */
  .about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100cqw;
    padding: 2%;
    margin-top: 3%;
  }

  .text-on-about {
  background-image: url('assets/images/desktop/about-backgr-desktop.svg');
  background-position: revert;
  background-size: 100% 100%;
  }

  .supporting-text-about {
    display: block;
    color: #42526e;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    width: 67%;
    margin-left: 14%;
    margin-bottom: 4%;
    letter-spacing: 0.04em;
  }

  .card-about {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content:center ;
    gap: 2%;
    width: 92%;
  }

  .frame19-tags {
    flex: 0.9;
    gap: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    margin: 0%;
  }

}

.footer {
  position: fixed;
  width: 100%;
  margin-bottom: 2%;
}
